*{
    margin:0px;
}
.background{
    width:1440px;
    height:930px;
    background-color:hsl(225, 100%, 94%);
    position:relative;
    
}
.content{
    width:450px;
    height:700px;
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.text{
    padding:45px 60px 30px 60px;
}
.text h2{
    font-family: 'Red Hat Display', sans-serif;
    padding-left: 70px;
    
}
.text p{
    
    font-size: 18px;
    font-weight: 300;
    padding-top:25px;
    color: gray;
}

.box-1{
    background-color:hsl(224, 76%, 95%);
    height:98px;
    width:350px;
    border-radius: 10px;
    position: relative;
    left:50px;
}
.box-1 img{
    padding: 25px 10px 25px 20px;
}
.box-2{
    float:right;
    position: relative;
    right:160px;
    top:25px;
}
.box-3{
    float:right;
    position: relative;
    left:70px;
    top:35px;
    border-bottom: 1px solid rgb(105, 69, 214);    
}
.bottom-1{
    background-color:rgb(26, 17, 120);
    color:white;
    height:50px;
    width:350px;
    border-radius: 10px;
    position: relative;
    left:50px;
    top:40px;
}
.bottom-1 p{
        padding: 15px 90px 15px 90px;
}
.bottom-2 p{
    padding: 80px 90px 15px 170px;
    color: gray;
}