*{
    margin: 0px;
}
.background{
    width: 1440px;
    height: 932px;
    background-color: hsl(233, 47%, 7%);
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    width:1120px;
    height:450px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px; 
    
}
.txt{
    color:white;
    width:350px;
    height:480px;
    padding:60px 50px 60px 60px;
}
h1{
    font-family: 'Lexend Deca', sans-serif;
}
p{
    font-size: 15px;
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    color: rgba(211, 211, 211, 0.623);
}
.bottom-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    padding-top:60px;
}
.h-1{
    flex:1
}
.h-2{
    flex:1
}
.h-3{
    flex:1
}
.bottom-2{
    display:flex;
    font-size:10px;
    color:rgba(211, 211, 211, 0.623)
}
.h-4{
    flex:1
}
.h-5{
    flex:1
}
.h-6{
    flex:1
}
.background_pic{
    width:560px;
    height:450px;
    background-color: hsl(277, 64%, 61%);
    border-radius: 0px 10px 10px 0px;
    float: right;
}
.pic img{
    width:560px;
    height:450px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.5;
}